transformers
spacy
spacy-transformers
albumentations
torch-summary
imagesize
gdown
tensorboard
pycocoevalcap
evaluate
torchvision
torchsummary
torch
pandas
matplotlib
spacy
tensorflow
torchmetrics
pycocoevalcap
evaluate