opencv-python
albumentations
evaluate
matplotlib
tensorflow
transformers
torchsummary
bert_score
fastapi
pydantic
uvicorn
# opencv-python-headless
# spacy
# spacy-transformers
# imagesize
# mlflow